@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background-primary: #20252b;
  --background-secondary: #31343d;
  --color-excluded: #4b4f53;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 0.6rem;
  color: #fff;
  background-color: var(--background-primary);
  /* overflow: hidden; */
  letter-spacing: 0.05em;
}

.invisible {
  display: none;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ------ SPINNER -------------*/

.rotate {
  display: flex;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ------ PERIODIC TABLE  ----------*/

.periodic-table {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(19, 64px);
  grid-template-rows: repeat(11, 60px);
  grid-column-gap: 2px;
  grid-row-gap: 1px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

/* ------- ELEMENTS ---------- */

.periodic-table__element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 2px solid;
  padding: 2px;
  transition: 0.4s ease-in;
  font-weight: 500;
  cursor: pointer;
}

.periodic-table__element:hover {
  background-color: var(--background-secondary);
  scale: 1.026;
}

.periodic-table__element--excluded {
  border-color: var(--color-excluded);
  color: var(--color-excluded);
}

.periodic-table__element__p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
}

.periodic-table__element__symbol {
  font-size: 1.2rem;
  font-weight: 700;
}

/* -------- PERIODS AND GROUPS --------- */

.periodic-table__period,
.periodic-table__group {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px;
  opacity: 0.65;
}

.periodic-table__period {
  justify-content: flex-end;
  align-items: center;
}

.periodic-table__group {
  justify-content: center;
  align-items: flex-end;
}

.group-blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1rem;
  height: 150px;
  grid-column: 4;
  grid-row: 2;
  margin-left: 30px;

  letter-spacing: 1px;
}

.group-blocks__list-item {
  margin: 0 60px 12px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.group-blocks__list-item__name {
  margin-left: 10px;
}

.group-blocks__list-item__btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid;
  border-color: inherit;
  transition: 0.3s;
}

/* @media screen and (width < 1200px) {
  body {
    font-size: 0.4rem;
  }
  .periodic-table {
    font-size: 0.5rem;
    grid-template-columns: repeat(19, 45px);
    grid-template-rows: repeat(11, 40px);
  }

  .element-card__symbol {
    font-size: 0.7rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .period-label,
  .group-label {
    font-size: 0.7rem;
  }

  .group-blocks {
    font-size: 0.6rem;
    height: 100px;
  }

  .group-blocks__list-item {
    margin-right: 40px;
    margin-bottom: 10px;
  }

  .group-blocks__list-item__btn {
    width: 12px;
    height: 12px;
  }
}

@media screen and (width < 1024px) {
  .group-blocks {
    display: none;
  }
} */
