input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.search-elements {
  display: none;
  height: 100%;
  width: 23rem;
  padding-bottom: 20px;
  transition: all 0.5s;
  animation: show-left-window 0.6s ease-in;
}

.search-elements--active {
  display: flex;
  flex-direction: column;
}

.search-elements__header {
  display: flex;
  /* padding: 20px; */
  /* padding-bottom: 10px; */
  padding: 0 0 10px 20px;
  background-color: aliceblue;
  background-color: var(--background-primary);
}

.search-input {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  padding-right: 0.8rem;
  padding-left: 1.2rem;

  border: none;
  outline: none;
  border-radius: 7px;
  background-color: var(--background-secondary);
  color: #fff;
}

.search-input::placeholder {
  font-weight: bold;
}

.search-elements__results {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  overflow-y: scroll;
  white-space: nowrap;
  background-color: var(--background-primary);
}

.search-elements__results::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;

  background: var(--background-secondary);
}

/* .search-elements__results::-webkit-scrollbar-track {
  background: var(--background-secondary);
  border-radius: 2px;
} */

.search-elements__results::-webkit-scrollbar-thumb {
  background: var(--background-primary);
  border-radius: 4px;
  border: 2px solid var(--background-secondary);
}

.search-elements__results__element {
  width: 100%;
  height: 4rem;
  padding-left: 1.2rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.search-elements__results__element:hover {
  background-color: var(--background-secondary);
}

.search-elements__results__element__symbol {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  padding-left: 1px;
  background-color: #43894e;
}

.search-elements__results__element__properties {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.search-elements__results__element__properties p:first-of-type {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.search-elements__results__element__properties p:last-of-type {
  font-size: 0.8rem;
}

@media screen and (width < 1200px) {
  .search-elements {
    width: 20rem;
    /* padding-bottom: 20px; */
  }
}
