/*----------  */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 0;
  opacity: 0;
  height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  max-width: 100%;
  z-index: 100;
  transition: all 0.5s;
  background-color: var(--background-primary);
  animation: show-right-window 0.4s linear;
}

.sidebar--active {
  width: 500px;
  opacity: 1;
}

@keyframes show-right-window {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  min-height: 300px;
  background-color: #1a1e22;
  border-bottom: 3px solid;

  background-size: cover;
  background-position: center;
}

.sidebar__header__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-top: 20px;
}

.sidebar__header__buttons__i {
  cursor: pointer;
  font-size: 25px;
}

.sidebar__header__element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 30px;
  padding-bottom: 15px;
}

.sidebar__header__element__details {
  font-size: 20px;
  font-weight: bold;
}

.sidebar__header__element__details__name {
  margin-top: 5px;
}

.sidebar__header__element__details__symbol {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 5px;
}

.sidebar__header__element__details__unit {
  font-size: 14px;
  font-weight: 400;
}

.sidebar__header__element__category {
  padding: 10px 20px;
  background-color: orange;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  font-size: 14px;
  letter-spacing: 1px;
}

.wiki-link {
  color: #fff;
}

.close-sidebar {
}

.background-black {
  display: flex;
  position: fixed;
  z-index: 10;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation: show-black-background 0.3s linear;
  /* transition: opacity 5s; */
}

@keyframes show-black-background {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.invisible {
  display: none;
}

.sidebar__field {
  width: 100%;
  min-height: 60px;
  height: 60px;
  border-bottom: thin solid #2b2e35;
}

.sidebar__field--label {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.sidebar__field__header {
  width: fit-content;
  padding: 10px 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
}

.sidebar__field__header i {
  margin-right: 10px;
}

.sidebar__field--details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  padding: 7px 0;
  padding-left: 40px;
}

.sidebar__field--details p:first-child {
  font-weight: bold;
}

.sidebar__field--details p:last-child {
  font-weight: 300;
}

.sidebar__nav {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, 60px);
}

.sidebar__nav--right,
.sidebar__nav--left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.sidebar__nav--right p,
.sidebar__nav--left p {
  margin: 0 5px;
}

.sidebar__nav--right span,
.sidebar__nav--left span {
  height: 5px;
  width: 5px;
  margin: 0 5px;
  border-radius: 50%;
}

.sidebar__nav--right {
  border-left: thin solid #2b2e35;
  grid-column: 2;
}

.sidebar__nav--left {
  border-right: thin solid #2b2e35;
  grid-column: 1;
}

.sidebar__nav--right:hover,
.sidebar__nav--left:hover {
  background-color: var(--background-secondary);
}

@media screen and (width < 1200px) {
  .sidebar--active {
    width: 400px;
  }
}
