.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  background-color: var(--background-secondary);
  position: fixed;
  left: 3rem;
  /* padding-top: 10px; */
  padding: 10px 0;
  height: 210px;
  width: 65px;
  border-radius: 15px;
  -webkit-tap-highlight-color: transparent;
}

.main-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
}

.main-menu__item:hover {
  background-color: var(--background-primary);
}

.main-menu__item--selected {
  background-color: #464951;
  cursor: auto;
  pointer-events: none;
}

.invisible {
  display: none;
}

.sidebar-left {
  display: none;
  position: fixed;
  padding: 20px 10px 20px 50px;
  top: 0;
  left: 0px;
  /* width: 500px; */
  max-width: 100%;
  height: 100vh;
  z-index: 15;
  opacity: 1;
  background-color: var(--background-primary);
  transition: all 0.5s;
  animation: show-left-window 0.5s linear;
}

.sidebar-left--active {
  display: flex;
  justify-content: flex-end;
}

@keyframes show-left-window {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media screen and (width < 1400px) {
  .main-menu {
    height: 180px;
    width: 50px;
    left: 0.8rem;
  }

  .main-menu__item {
    font-size: 1.1rem;
  }
}

@media screen and (width < 1200px) {
  .main-menu {
    height: 170px;
    width: 48px;
    left: 1rem;
  }

  .main-menu__item {
    font-size: 1rem;
    width: 35px;
    height: 35px;
  }
}

@media screen and (width < 1080px) {
  .main-menu {
    height: 170px;
    width: 42px;
    left: 0.8rem;
  }

  .main-menu__item {
    font-size: 1rem;
    width: 32px;
    height: 32px;
  }
}
