.background-actinoid {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 113, 63, 1) 70%
  );
}

.background-lanthanoid {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(216, 74, 5, 1) 70%
  );
}

.background-nonmetal {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(232, 200, 114, 1) 70%
  );
}

.background-metalloid {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(196, 30, 61, 1) 70%
  );
}

.background-post-transition-metal,
.background-metal {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 109, 161, 1) 70%
  );
}

.background-transition-metal {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 134, 0, 1) 70%
  );
}

.background-alkaline-earth-metal {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 164, 243, 1) 70%
  );
}

.background-metalloid {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(196, 30, 61, 1) 70%
  );
}

.background-halogen {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(67, 137, 78, 1) 70%
  );
}

.background-noble-gas {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 46, 155, 1) 70%
  );
}

.background-alkali-metal {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(206, 45, 79, 1) 70%
  );
}
