.background-Hydrogen {
  background-image: url(img/Hydrogen.jpg);
}

.background-Helium {
  background-image: url(img/Helium.jpg);
}

.background-Lithium {
  background-image: url(img/Lithium.jpg);
}

.background-Beryllium {
  background-image: url(img/Beryllium.jpg);
}

.background-Boron {
  background-image: url(img/Boron.jpg);
}

.background-Carbon {
  background-image: url(img/Carbon.jpg);
}

.background-Oxygen {
  background-image: url(img/Oxygen.jpg);
}

.background-Neon {
  background-image: url(img/Neon.jpg);
}
