:root {
  --linear-gradient: linear-gradient(
    rgba(171, 171, 171, 0),
    rgba(0, 0, 0, 0.2)
  );
}

.background-Hydrogen {
  background-image: var(--linear-gradient), url(img/Hydrogen.avif);
}

.background-Helium {
  background-image: var(--linear-gradient), url(img/Helium.avif);
}

.background-Lithium {
  background-image: var(--linear-gradient), url(img/Lithium.avif);
}

.background-Beryllium {
  background-image: var(--linear-gradient), url(img/Beryllium.avif);
}

.background-Boron {
  background-image: var(--linear-gradient), url(img/Boron.avif);
}

.background-Carbon {
  background-image: var(--linear-gradient), url(img/Carbon.avif);
}

.background-Nitrogen {
  background-image: var(--linear-gradient), url(img/Nitrogen.avif);
}

.background-Oxygen {
  background-image: var(--linear-gradient), url(img/Oxygen.avif);
}

.background-Fluorine {
  background-image: var(--linear-gradient), url(img/Fluorine.avif);
}

.background-Neon {
  background-image: var(--linear-gradient), url(img/Neon.avif);
}

.background-Sodium {
  background-image: var(--linear-gradient), url(img/Sodium.avif);
}

.background-Magnesium {
  background-image: var(--linear-gradient), url(img/Magnesium.avif);
}

.background-Aluminum {
  background-image: var(--linear-gradient), url(img/Aluminum.avif);
}

.background-Silicon {
  background-image: var(--linear-gradient), url(img/Silicon.avif);
}

.background-Phosphorus {
  background-image: var(--linear-gradient), url(img/Phosphorus.avif);
}

.background-Sulfur {
  background-image: var(--linear-gradient), url(img/Sulfur.avif);
}

.background-Chlorine {
  background-image: var(--linear-gradient), url(img/Chlorine.avif);
}

.background-Argon {
  background-image: var(--linear-gradient), url(img/Argon.avif);
}

.background-Potassium {
  background-image: var(--linear-gradient), url(img/Potassium.avif);
}

.background-Calcium {
  background-image: var(--linear-gradient), url(img/Calcium.avif);
}

.background-Scandium {
  background-image: var(--linear-gradient), url(img/Scandium.avif);
}
