/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
  background-color: #20252b;
  padding: 20px 0;
  letter-spacing: 0.05em;
}

/* ------ SPINNER -------------*/

.rotate {
  display: flex;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------  */

.periodic-table {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(19, 66px);
  grid-template-rows: repeat(11, 60px);
  grid-column-gap: 2px;
  grid-row-gap: 1px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.invisible {
  display: none;
}
.element-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 2px solid;
  border-color: #ff8600;
  padding: 2px;

  font-weight: 500;
  cursor: pointer;
}

.element-card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 300;
}

.element-card:hover {
  background-color: #31343d;
  transition: 0.3s;
  scale: 1.026;
}

.element-card--symbol {
  font-size: 20px;
  font-weight: 700;
}

.period-label,
.group-label {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  opacity: 0.65;
}

.period-label {
  justify-content: flex-end;
  align-items: center;
}

.group-label {
  justify-content: center;
  align-items: flex-end;
}

.group-blocks-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  height: 150px;
  grid-column: 4;
  grid-row: 2;
  margin-left: 30px;

  list-style-type: none;
  letter-spacing: 1px;
}

.list-item {
  margin: 0 70px 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list-item p {
  margin-left: 10px;
}

.btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid;
  /* border-color: inherit; */
  background-color: inherit;
}

.btn:active {
  background-color: #fff;
}
